/bin/
/Project_java.iml
/.idea/
/Project-java/target/
/JavaApplication18/nbproject/private/
/JavaApplication18/src/main/java/service/Appcontrains.java
/Project-java/src/main/java/service/Appcontrains.java
/Project-java/src/main/java/utils/AppConstraints.java
